.jss38 {
  .MuiButtonBase-root {
    padding: 0 16px !important;
  }
}
.jss34 {
  .MuiButtonBase-root {
    padding-left: 16px;
    .MuiListItemIcon-root{
           min-width: 41px;
    }
  }
}
